/.gradle/
/.idea/

/native-lib/build/
/native-lib/libs/
/native-lib/jni/*.*
/native-lib/jni/.vscode
/native-lib/jni/build
/native-lib/jni/jni-headers
/native-lib/jni/target
/native-lib/jni/test/build
