.gradle
.idea
.vscode
build
out
/local.properties
robovm-build
.DS-Store

/basisu-wrapper/libs
/basisu-wrapper/obj
/basisu-wrapper/test-output
/basisu-wrapper/jni/*.*
/basisu-wrapper/jni/jni-headers
/basisu-wrapper/jni/target
!/basisu-wrapper/jni/CMakeLists.txt

/demo/android/libs
/demo/web/war